<div>
    <label>Id: {{schema.id}}</label>
    <label class="sch-name">
        Schema name <input type=text [(ngModel)]="schema.name" placeholder="name"/>
    </label>
    
    <label class="sch-owner">
        Owner <select [(ngModel)]="schema.owner">
                <option *ngFor="let u of users" value="{{u}}">{{u}}</option>
            </select>
    </label>
    <label>Comment</label>
    <textarea [(ngModel)]="schema.comment" placeholder="comment"></textarea>
    <input type=button (click)="save()" value="save"/>
</div>